<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} Data Observation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} Data Observation</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/Dataobservations/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='dataobservation-date'>Observation Date</label>
              <input id='dataobservation-date' type='date' data-xform-type='date' name='date' value="{{date}}">
              <p class="hint">Enter observation date</p>
              <p class='error dataobservation-date-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Observation Index</legend>
                {{#obsnum_choices}}
                <input type='radio' id='dataobservation-obsnum-{{name}}' name='obsnum' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='dataobservation-obsnum-{{name}}'>{{label}}</label>
                {{/obsnum_choices}}
              </fieldset>
              <p class='hint'>Is this the first or second observation?</p>
              <p class='error dataobservation-obsnum-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='dataobservation-teacher_id'>Teacher</label>
                <select id='dataobservation-teacher_id' data-xform-type='string' name='teacher_id' required>
                  <option value="">Select one...</option>
                  {{#teacher_list}}
                  <option value="{{id}}"{{#selected}} selected{{/selected}}>
                   {{#outbox}}*{{/outbox}} {{label}}
                  </option>
                  {{/teacher_list}}
                </select>
              <p class='error dataobservation-teacher_id-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='dataobservation-observer_id'>Observer</label>
              <select id='dataobservation-observer_id' data-xform-type='string' name='observer_id' required>
                <option value="">Select one...</option>
                {{#observer_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>
                 {{#outbox}}*{{/outbox}} {{label}}
                </option>
                {{/observer_list}}
              </select>
              <p class='error dataobservation-observer_id-errors'></p>
            </li>
            <li data-role="list-divider">Interactions</li>
            {{#interactions}}
            {{#id}}
            <input type="hidden" name="interactions[{{@index}}][id]" value="{{id}}">
            {{/id}}
            <div class="ui-grid-{{#id}}c{{/id}}{{^id}}solo{{/id}} ui-responsive">
              <div class="ui-block-a">
                {{^id}}
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-minute'>Minute</label>
                  <input class='minuteindices' id='dataobservation-interactions-{{@index}}-minute' type='number' data-xform-type='int' name='interactions[{{@index}}][minute]' required value="{{@index}}">
                  <p class="hint">How many minutes into the lesson is this observation?</p>
                  <p class='error dataobservation-interactions-{{@index}}-minute-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-first10'>First 10 seconds</label>
                  <textarea id='dataobservation-interactions-{{@index}}-first10' name='interactions[{{@index}}][first10]' data-xform-type="text">{{first10}}</textarea>
                  <p class='error dataobservation-interactions-{{@index}}-first10-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                    <legend>Location</legend>
                    {{#location_choices}}
                    <input type='radio' id='dataobservation-interactions-{{@index}}-location-{{name}}' name='interactions[{{@index}}][location]' value='{{name}}'{{#selected}} checked{{/selected}}>
                    <label for='dataobservation-interactions-{{@index}}-location-{{name}}'>{{label}}</label>
                    {{/location_choices}}
                  </fieldset>
                  <p class='error dataobservation-interactions-{{@index}}-location-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-rest'>Rest of minute</label>
                  <textarea id='dataobservation-interactions-{{@index}}-rest' name='interactions[{{@index}}][rest]' data-xform-type="text" >{{rest}}</textarea>
                  <p class='error dataobservation-interactions-{{@index}}-rest-errors'></p>
                </li>
                {{/id}}
                {{#id}}
                <input type="hidden" name="interactions[{{@index}}][minute]" value="{{minute}}">
                <input type="hidden" name="interactions[{{@index}}][first10]" value="{{first10}}">
                <input type="hidden" name="interactions[{{@index}}][location]" value="{{location}}">
                <input type="hidden" name="interactions[{{@index}}][rest]" value="{{rest}}">
                <table>
                  <tr>
                    <th>Minute</th>
                    <td>{{minute}}</td>
                  </tr>
                  <tr>
                    <th>First 10 seconds</th>
                    <td>{{first10}}</td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td>{{location_label}}</td>
                  </tr>
                  <tr>
                    <th>Rest of minute</th>
                    <td>{{rest}}</td>
                  </tr>
                </table>
                {{/id}}
              </div>
              {{#id}}
              <div class="ui-block-b">
                <h3>Know Thine Impact</h3>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-learning_evidence'>Gathering Evidence</label>
                  <input id='dataobservation-interactions-{{@index}}-learning_evidence' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][learning_evidence]' {{#learning_evidence}} checked {{/learning_evidence}}>
                  <p class='error dataobservation-interactions-{{@index}}-learning_evidence-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-evaluating_effect'>Evaluating Effect</label>
                  <input id='dataobservation-interactions-{{@index}}-evaluating_effect' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][evaluating_effect]' {{#evaluating_effect}} checked {{/evaluating_effect}}>
                  <p class='error dataobservation-interactions-{{@index}}-evaluating_effect-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-acting_knowledge'>Acting on knowledge</label>
                  <input id='dataobservation-interactions-{{@index}}-acting_knowledge' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][acting_knowledge]' {{#acting_knowledge}} checked {{/acting_knowledge}}>
                  <p class='error dataobservation-interactions-{{@index}}-acting_knowledge-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-sharing_understanding'>Students sharing understanding</label>
                  <input id='dataobservation-interactions-{{@index}}-sharing_understanding' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][sharing_understanding]' {{#sharing_understanding}} checked {{/sharing_understanding}}>
                  <p class='error dataobservation-interactions-{{@index}}-sharing_understanding-errors'></p>
                </li>
              </div>  

              <div class="ui-block-c">
                <h3>Inspired and Passionate Teaching</h3>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-demonstrating_care'>Demonstrating relational trust</label>
                  <input id='dataobservation-interactions-{{@index}}-demonstrating_care' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][demonstrating_care]' {{#demonstrating_care}} checked {{/demonstrating_care}}>
                  <p class='error dataobservation-interactions-{{@index}}-demonstrating_care-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-providing_feedback'>Providing feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-providing_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][providing_feedback]' {{#providing_feedback}} checked {{/providing_feedback}}>

                  <p class='error dataobservation-interactions-{{@index}}-providing_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-dialogue'>Engaged in dialogue</label>
                  <input id='dataobservation-interactions-{{@index}}-dialogue' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][dialogue]' {{#dialogue}} checked {{/dialogue}}>
                  <p class='error dataobservation-interactions-{{@index}}-dialogue-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-safe_classroom'>Ensuring safe Classroom</label>
                  <input id='dataobservation-interactions-{{@index}}-safe_classroom' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][safe_classroom]' {{#safe_classroom}} checked {{/safe_classroom}}>
                  <p class='error dataobservation-interactions-{{@index}}-safe_classroom-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-clarifying_lp'>Clarifying learning progressions</label>
                  <input id='dataobservation-interactions-{{@index}}-clarifying_lp' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][clarifying_lp]' {{#clarifying_lp}} checked {{/clarifying_lp}}>
                  <p class='error dataobservation-interactions-{{@index}}-clarifying_lp-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-providing_challenge'>Providing Challenge</label>
                  <input id='dataobservation-interactions-{{@index}}-providing_challenge' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][providing_challenge]' {{#providing_challenge}} checked {{/providing_challenge}}>
                  <p class='error dataobservation-interactions-{{@index}}-providing_challenge-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-high_exp'>Setting high expectations</label>
                  <input id='dataobservation-interactions-{{@index}}-high_exp' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][high_exp]' {{#high_exp}} checked {{/high_exp}}>
                  <p class='error dataobservation-interactions-{{@index}}-high_exp-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-focus_learning'>Managing classroom to focus on learning</label>
                  <input id='dataobservation-interactions-{{@index}}-focus_learning' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][focus_learning]' {{#focus_learning}} checked {{/focus_learning}}>
                  <p class='error dataobservation-interactions-{{@index}}-focus_learning-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-range_strategies'>Using a wide range of strategies</label>
                  <input id='dataobservation-interactions-{{@index}}-range_strategies' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][range_strategies]' {{#range_strategies}} checked {{/range_strategies}}>
                  <p class='error dataobservation-interactions-{{@index}}-range_strategies-errors'></p>
                </li>
              </div>


              <div class='ui-block-d'>
                <h3>Feedback </h3>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-aspiration_feedback'>Giving aspirational feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-aspiration_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][aspiration_feedback]' {{#aspiration_feedback}} checked {{/aspiration_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-aspiration_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-jit_feedback'>Giving just in time feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-jit_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][jit_feedback]' {{#jit_feedback}} checked {{/jit_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-jit_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-whw_feedback'>Answering "where, how, where next?"</label>
                  <input id='dataobservation-interactions-{{@index}}-whw_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][whw_feedback]' {{#whw_feedback}} checked {{/whw_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-whw_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-task_feedback'>Giving task feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-task_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][task_feedback]' {{#task_feedback}} checked {{/task_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-task_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-process_feedback'>Giving process feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-process_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][process_feedback]' {{#task_feedback}} checked {{/task_feedback}} >
                  <p class='error dataobservation-interactions-{{@index}}-process_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-sr_feedback'>Giving self-regulation feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-sr_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][sr_feedback]' {{#sr_feedback}} checked {{/sr_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-sr_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-praise'>Giving praise</label>
                  <input id='dataobservation-interactions-{{@index}}-praise' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][praise]' {{#praise}} checked {{/praise}}>
                  <p class='error dataobservation-interactions-{{@index}}-praise-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-peer_feedback'>Scaffolding peer feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-peer_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][peer_feedback]' {{#peer_feedback}} checked {{/peer_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-peer_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-seeking_feedback'>Seeking feedback</label>
                  <input id='dataobservation-interactions-{{@index}}-seeking_feedback' type='checkbox' data-xform-type='boolean' name='interactions[{{@index}}][seeking_feedback]' {{#seeking_feedback}} checked {{/seeking_feedback}}>
                  <p class='error dataobservation-interactions-{{@index}}-seeking_feedback-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='dataobservation-interactions-{{@index}}-other'>Other</label>
                  <input id='dataobservation-interactions-{{@index}}-other' type='text' data-xform-type='string' name='interactions[{{@index}}][other]' value="{{other}}">
                  <p class="hint">Please be specific</p>
                  <p class='error dataobservation-interactions-{{@index}}-other-errors'></p>
                </li>
              </div>
              {{/id}}
            </div>
            <li class="section-interactions"></li>
            {{/interactions}}
            <li>
              <button type="button" data-wq-action="addattachment" data-wq-section="interactions">
                 Add Minute
              </button>
            </li>
            <li data-role="list-divider">Student Interviews</li>
            {{#studentinterviews}}
            {{#id}}
            <input type="hidden" name="studentinterviews[{{@index}}][id]" value="{{id}}">
            {{/id}}
            <li class="ui-field-contain">
              <label for='dataobservation-studentinterviews-{{@index}}-whatlearning'>What are you learning today?</label>
              <textarea id='dataobservation-studentinterviews-{{@index}}-whatlearning' name='studentinterviews[{{@index}}][whatlearning]' data-xform-type="text" required>{{whatlearning}}</textarea>
              <p class='error dataobservation-studentinterviews-{{@index}}-whatlearning-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='dataobservation-studentinterviews-{{@index}}-howsuccess'>How do you know how well you are going?</label>
              <textarea id='dataobservation-studentinterviews-{{@index}}-howsuccess' name='studentinterviews[{{@index}}][howsuccess]' data-xform-type="text" required>{{howsuccess}}</textarea>
              <p class='error dataobservation-studentinterviews-{{@index}}-howsuccess-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='dataobservation-studentinterviews-{{@index}}-whatnext'>What do you think your next steps are?</label>
              <textarea id='dataobservation-studentinterviews-{{@index}}-whatnext' name='studentinterviews[{{@index}}][whatnext]' data-xform-type="text" required>{{whatnext}}</textarea>
              <p class='error dataobservation-studentinterviews-{{@index}}-whatnext-errors'></p>
            </li>
            <li class="section-studentinterviews"></li>
            {{/studentinterviews}}
            <li>
            <li>
              <button type="button" data-wq-action="addattachment" data-wq-section="studentinterviews">
                 Add Interview
              </button>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/Dataobservations/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error dataobservation-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
