<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} feedbackobservation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} feedbackobservation</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/Feedbackobservations/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='feedbackobservation-date'>Observation Date</label>
              <input id='feedbackobservation-date' type='date' data-xform-type='date' name='date' value="{{date}}">
              <p class="hint">Enter observation date</p>
              <p class='error feedbackobservation-date-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Observation Index</legend>
                {{#obsnum_choices}}
                <input type='radio' id='feedbackobservation-obsnum-{{name}}' name='obsnum' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='feedbackobservation-obsnum-{{name}}'>{{label}}</label>
                {{/obsnum_choices}}
              </fieldset>
              <p class='hint'>Is this the first or second observation?</p>
              <p class='error feedbackobservation-obsnum-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-teacher_id'>Teacher</label>
              <select id='feedbackobservation-teacher_id' data-xform-type='string' name='teacher_id' required>
                <option value="">Select one...</option>
                {{#teacher_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>
                 {{#outbox}}*{{/outbox}} {{label}}
                </option>
                {{/teacher_list}}
              </select>
              <p class='error feedbackobservation-teacher_id-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-observer_id'>Observer</label>
              <select id='feedbackobservation-observer_id' data-xform-type='string' name='observer_id' required>
                <option value="">Select one...</option>
                {{#observer_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>
                 {{#outbox}}*{{/outbox}} {{label}}
                </option>
                {{/observer_list}}
              </select>
              <p class='error feedbackobservation-observer_id-errors'></p>
            </li>
            <li data-role="list-divider">Interactions</li>
            {{#interactions}}
            {{#id}}
            <input type="hidden" name="interactions[{{@index}}][id]" value="{{id}}">
            {{/id}}
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-minute'>Minute</label>
              <input id='feedbackobservation-interactions-{{@index}}-minute' type='number' data-xform-type='int' name='interactions[{{@index}}][minute]' required value="{{minute}}">
              <p class="hint">How many minutes into the lesson is this observation?</p>
              <p class='error feedbackobservation-interactions-{{@index}}-minute-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-first10'>First 10 seconds</label>
              <input id='feedbackobservation-interactions-{{@index}}-first10' type='text' data-xform-type='string' name='interactions[{{@index}}][first10]' required value="{{first10}}">
              <p class='error feedbackobservation-interactions-{{@index}}-first10-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='horizontal'>
                <legend>Location</legend>
                {{#location_choices}}
                <input type='radio' id='feedbackobservation-interactions-{{@index}}-location-{{name}}' name='interactions[{{@index}}][location]' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='feedbackobservation-interactions-{{@index}}-location-{{name}}'>{{label}}</label>
                {{/location_choices}}
              </fieldset>
              <p class='error feedbackobservation-interactions-{{@index}}-location-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-aspiration_feedback'>Aspirational feedback</label>
              <input id='feedbackobservation-interactions-{{@index}}-aspiration_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][aspiration_feedback]' required value="{{aspiration_feedback}}">
              <p class="hint">Delivering feedback that is aspirational</p>
              <p class='error feedbackobservation-interactions-{{@index}}-aspiration_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-jit_feedback'>Just in time</label>
              <input id='feedbackobservation-interactions-{{@index}}-jit_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][jit_feedback]' required value="{{jit_feedback}}">
              <p class="hint">Delivering feedback just in time</p>
              <p class='error feedbackobservation-interactions-{{@index}}-jit_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-whw_feedback'>Where, how, where next</label>
              <input id='feedbackobservation-interactions-{{@index}}-whw_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][whw_feedback]' required value="{{whw_feedback}}">
              <p class="hint">Feedback answers &quot;Where am I going&quot;, &quot;How am I going&quot;, &quot;Where next&quot;</p>
              <p class='error feedbackobservation-interactions-{{@index}}-whw_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-task_feedback'>Task Feedback</label>
              <input id='feedbackobservation-interactions-{{@index}}-task_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][task_feedback]' required value="{{task_feedback}}">
              <p class="hint">Task feedback to students learning something new</p>
              <p class='error feedbackobservation-interactions-{{@index}}-task_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-process_feedback'>Process Feedback</label>
              <input id='feedbackobservation-interactions-{{@index}}-process_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][process_feedback]' required value="{{process_feedback}}">
              <p class="hint">Process feedback to students who are becoming more proficient</p>
              <p class='error feedbackobservation-interactions-{{@index}}-process_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-sr_feedback'>Self-regulation feedback</label>
              <input id='feedbackobservation-interactions-{{@index}}-sr_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][sr_feedback]' required value="{{sr_feedback}}">
              <p class="hint">Self-regulation feedback to students with high proficiency</p>
              <p class='error feedbackobservation-interactions-{{@index}}-sr_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-praise'>Praise</label>
              <input id='feedbackobservation-interactions-{{@index}}-praise' type='text' data-xform-type='string' name='interactions[{{@index}}][praise]' required value="{{praise}}">
              <p class='error feedbackobservation-interactions-{{@index}}-praise-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-peer_feedback'>Peer Feedback</label>
              <input id='feedbackobservation-interactions-{{@index}}-peer_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][peer_feedback]' required value="{{peer_feedback}}">
              <p class="hint">Working with students to ensure peer feedback is accurate</p>
              <p class='error feedbackobservation-interactions-{{@index}}-peer_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-seeking_feedback'>Seeking Feedback</label>
              <input id='feedbackobservation-interactions-{{@index}}-seeking_feedback' type='text' data-xform-type='string' name='interactions[{{@index}}][seeking_feedback]' required value="{{seeking_feedback}}">
              <p class="hint">Seeking feedback from students</p>
              <p class='error feedbackobservation-interactions-{{@index}}-seeking_feedback-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='feedbackobservation-interactions-{{@index}}-other'>Other</label>
              <input id='feedbackobservation-interactions-{{@index}}-other' type='text' data-xform-type='string' name='interactions[{{@index}}][other]' required value="{{other}}">
              <p class="hint">Please be specific</p>
              <p class='error feedbackobservation-interactions-{{@index}}-other-errors'></p>
            </li>
            <li class="section-interactions"></li>
            {{/interactions}}
            <li>
              <button type="button" data-wq-action="addattachment" data-wq-section="interactions">
                 Add Interactions
              </button>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/Feedbackobservations/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error feedbackobservation-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
