<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html manifest="obstool.appcache">
  <head>
    <title>Barkly Teacher Observations</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Barkly Teacher Observations</h1>
      </div>
      <div role="main" class="ui-content">
        <ul data-role="listview">
          <!-- Note: in many cases, you will want to replace this with a
          hardcoded list of links (rather than the default pages list) -->
          {{^is_authenticated}}
          <li><a href="{{rt}}/login"> Login </a></li>
          {{/is_authenticated}}
          {{#is_authenticated}}
          <li><a href="{{rt}}/Dataobservations/new">Create minute-by-minute observation</a></li>
          <li><a href="{{rt}}/Dataobservations">View minute-by-minute observations</a></li>
          <li><a target=_self href="{{rt}}/download/select">Download minute-by-minute data</a></li>
          <li><a href="{{rt}}/Observationtemplates">Create scored/summary observation</a></li>
          <li><a href="{{rt}}/Observationtemplates/new">Create observation template</a></li>
          <li><a target=_self href="{{rt}}/admin/auth/user/add/"> Add teachers/observers </a></li>
          <!-- <li><a href="{{rt}}/schools"> View/Add schools </a></li> -->
          <li><a href="{{rt}}/logout"> Logout </a></li>
          {{/is_authenticated}}
        </ul>
      </div>
      <p class="footer">
        obstool v{{version}}
        &bull;
        Powered by <a href="https://wq.io/">wq</a>
      </p>
    </div>
  </body>
</html>
