<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/interactionobservations/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      <div role="main" class="ui-content">
          <h1>{{label}}</h1>
          <table>
            <tr>
              <th>Position</th>
              <td>{{position}}</td>
            </tr>
            <tr>
              <th>Minutes</th>
              <td>{{minutes}}</td>
            </tr>
            <tr>
              <th>Evidence of discursive interactions and power sharing strategies</th>
              <td>{{evidenceDIPS}}</td>
            </tr>
            <tr>
              <th>Interactions with Students</th>
              <td>{{studentint_label}}</td>
            </tr>
            <tr>
              <th>Teacherloc</th>
              <td>{{teacherloc}}</td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>
