<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} interactionobservation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} interactionobservation</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/interactionobservations/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li class="ui-field-contain">
              <label for='interactionobservation-position'>Position</label>
              <input id='interactionobservation-position' type='number' data-xform-type='int' name='position' required value="{{position}}">
              <p class='error interactionobservation-position-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='interactionobservation-minutes'>Minutes</label>
              <input id='interactionobservation-minutes' type='number' data-xform-type='int' name='minutes' required value="{{minutes}}">
              <p class="hint">How long did you see the teacher doing this</p>
              <p class='error interactionobservation-minutes-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='interactionobservation-evidenceDIPS'>Evidence of discursive interactions and power sharing strategies</label>
              <input id='interactionobservation-evidenceDIPS' type='text' data-xform-type='string' name='evidenceDIPS' value="{{evidenceDIPS}}">
              <p class="hint">Examples: co-operative learning, student-generated questions</p>
              <p class='error interactionobservation-evidenceDIPS-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select1' data-role='controlgroup' data-type='horizontal'>
                <legend>Interactions with Students</legend>
                {{#studentint_choices}}
                <input type='radio' id='interactionobservation-studentint-{{name}}' name='studentint' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='interactionobservation-studentint-{{name}}'>{{label}}</label>
                {{/studentint_choices}}
              </fieldset>
              <p class='hint'>Which students are the teacher interacting with?</p>
              <p class='error interactionobservation-studentint-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='interactionobservation-teacherloc'>Teacherloc</label>
              <input id='interactionobservation-teacherloc' type='text' data-xform-type='string' name='teacherloc' value="{{teacherloc}}">
              <p class='error interactionobservation-teacherloc-errors'></p>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/interactionobservations/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error interactionobservation-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
